.popup {
	position: absolute;
	background: #fff;
	padding: 1em;
	box-shadow: 0 1px 4px -1px #0000004d;
	transform: translate(-50%, -140%);

	&-form {
		display: flex;

		&:before,
		&:after {
			content: '';
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 20px solid #0000004d;
			position: absolute;
			bottom: -21px;
			left: 50%;
			transform: translate(-50%);
		}

		&:after {
			bottom: -19px;
			border-top: 20px solid #fff;
		}
	}

	&__input {
		font-size: 1.2em;
		padding: 0.2em 0.4em;
		box-sizing: border-box;
		border: 1px solid grey;
		width: 10em;
	}

	&__button {
		border: 1px solid grey;
		background: #ffffff;
		margin: 0;
		font-size: 1.2em;
		padding: 0.25em;
		cursor: pointer;
	}
}
